body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1200px;
    margin: auto;
}

.header{

   background-image:linear-gradient(to top, #FF512F,#F09819,#FF512F)  ;
    
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin:0px ;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image:linear-gradient(to top, #FF512F,#F09819,#FF512F)  ;
}

.link {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(255, 243, 110);
    color: black;
    border-radius: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
    
}
.link:hover {
    background-color: blanchedalmond;
    font-weight: 700;
}

.gallery{
  background-color: beige;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image:linear-gradient(to top, #ff0000,#38ef00,#001aff);
}

.gallery-iton{

    width:350px ;
    height: 250px;

}
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
 .btn-container {
      display: flex;
      justify-content: center;
      padding: 20px;
    }
    .btn {
      color: rgb(102, 251, 132);
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 8px;
      cursor: pointer;
    }
    .btn:hover {
    background: #ffdb4d;   
    color: #000;   
    font-weight: 700;
    box-shadow: 0 0 10px rgba(16, 0, 159, 0.8), 0 0 20px rgba(44, 44, 220, 0.748), 0 0 30px rgba(102, 88, 249, 0.3);

    }
